<nav class="categories-te text-gray-900 flex">
  <div class="container mx-auto flex justify-between">
    <ul class="container mx-auto list-reset flex bounce-in-right">
      <!--Hoverable Link-->
      <li class="hoverable menu-te" >
        <a href="#" class="relative block py-6 px-4 lg:p-6 text-sm lg:text-base text-white font-bold h-full">
          PRODUCTS
          <svg class="inline-block ml-4 mr-0" width="17" height="9" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.832.197a.694.694 0 01.967 0 .66.66 0 010 .947l-7.815 7.66a.694.694 0 01-.968 0L.2 1.143a.661.661 0 010-.947.694.694 0 01.968 0L8.5 7.182 15.832.197z"
              fill-rule="nonzero" />
          </svg>
        </a>
        <div class="mega-menu pt-0 pb-0 px-6 mb-16 sm:mb-0 shadow-xl bg-white border-b-2 border-gray-400">
          <div class="container mx-auto flex flex-row">
            <div class="nav-categories-content relative text-gray-700 pt-1 px-4 bg-white w-60">
              <div class="categories-te-menu">
                <ul class="flex flex-col pt-4 pb-8">
                  <li (mouseover)="changeMenu(0)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Oscilloscopes & Signal
                        Generators</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox0">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path 
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox0 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(1)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Environmental Chambers,
                        Ovens</span>
                      <span class="ml-3 pr-2"  *ngIf="!graybox1">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox1 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(2)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Data Acquisition and
                        Meters</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox2">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox2 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(3)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Network & Spectrum
                        Analyzers</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox3">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div  [ngClass]="graybox3 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(4)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Networking &
                        Telecommunications</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox4">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div  [ngClass]="graybox4 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(5)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Power Supplies</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox5">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox5 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(6)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Component Measurement</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox6">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox6 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(7)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">RF & Microwave</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox7">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox7 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(8)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Accessories</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox8">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox8 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(9)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Other Instruments</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox9">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox9 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                  <li (mouseover)="changeMenu(10)">
                    <a href="#"
                      class="relative flex flex-row items-center focus:outline-none border-b hover:border-blue-500 pr-6 py-3 rounded-sm">
                      <span class="ml-2 py-3 font-semibold text-sm tracking-wide w-full">Electronic Production
                        Supplies</span>
                      <span class="ml-3 pr-2" *ngIf="!graybox10">
                        <svg width="9" height="17" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M6.695 8.53L.238 1.82a.63.63 0 010-.885.616.616 0 01.876 0l7.08 7.15a.63.63 0 010 .886l-7.08 7.151a.615.615 0 01-.876 0 .63.63 0 010-.885L6.695 8.53z"
                            fill-rule="nonzero" />
                        </svg>
                      </span>
                      <div [ngClass]="graybox10 ? 'grayboxI' : 'graybox'"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="categories-content w-3/4 bg-gray-200 border-l border-gray-200">
              <div class="flex flex-wrap p-6">
                <h3 class="w-full relative text-xl text-gray-800 font-medium tracking-wider py-4 pl-2">
                  {{selectedMenu.title}}</h3>
                <a *ngFor="let list of selectedMenu.list" href="#"
                  class="w-32 overflow-hidden my-5 mx-2 no-underline text-gray-700 hover:text-gray-900 focus:outline-none border-b-2 hover:border-blue-500 hover:shadow">
                  <img src="{{list.img}}" class="h-auto w-full object-cover object-center">
                  <div class="w-full flex flex-col">
                    <span class="py-1">{{list.text}}</span>
                  </div>
                </a>



                <div class="row">
                  <div class="medium-12 large-12 columns" align="center" >
                    <button class="btn-add-cart btn primary">
                      View All
                  </button>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </li>
      <!--end Hoverable Link-->
      <li class="menu-te">
        <a href="#"
          class="relative block py-6 px-4 lg:p-6 text-sm lg:text-base text-white font-bold hover:bg-white hover:text-black h-full">SHOP
          BY BRAND</a>
      </li>
      <li class="flex-1 menu-te">
        <div class="flex-1">
          <div class="search-container" id="wideSearch">
            <form class="ng-pristine ng-valid flex justify-start">
              <div class="search-input">
                <label for="criteria">Search</label>
                <span tabindex="-1" role="presentation"
                  class="k-widget k-autocomplete k-header isc-searchAutoComplete tst_header_searchInput ng-pristine ng-valid k-state-default ng-empty ng-touched"
                  style=""><input ng-model="vm.criteria" type="text"
                    class="isc-searchAutoComplete tst_header_searchInput ng-pristine ng-valid k-input ng-empty ng-touched"
                    ng-init="vm.autocompleteOptions.placeholder = 'Search';
                          vm.translations = [
                          {key: 'category', text: 'Categories'},
                          {key: 'content', text: 'Content'},
                          {key: 'product', text: 'Products'},
                          {key: 'manufacturerItemNumber', text: 'MFG #'},
                          {key: 'partNumber', text: 'Part #'},
                          {key: 'customerPartNumber', text: 'My Part #'},
                          {key: 'isStocked', text: 'In Stock:'}]" kendo-auto-complete=""
                    k-options="vm.autocompleteOptions" isc-enter="vm.onEnter()" name="criteria"
                    ng-blur="vm.startAutocomplete()" onfocus="$(this).data('kendoAutoComplete').search()"
                    data-role="autocomplete" placeholder="Search" autocomplete="off" role="textbox" aria-haspopup="true"
                    aria-disabled="false" aria-readonly="false" aria-autocomplete="list" aria-owns=""
                    style="width: 100%;"><span class="k-icon k-loading" style="display:none"></span></span>
              </div>
              <div class="search-history">
                <div class="search-history-label"><span>Search History</span></div>
                <div class="clear-search-history"><a href="#" ng-click="vm.clearSearchHistory()">Clear Search
                    History</a>
                </div>
              </div>
              <div class="search-button">
                <button class="btn primary fastClick" ng-click="vm.search()"><i
                    class="fa ie7-search-size site-search-btn"></i></button>
              </div>
            </form>
          </div>
        </div>
      </li>
      <li class="">
        <div class=" isc-nav-bar">
          <div class="isc-nav-wrap">
            <label for="main-nav-check" class="toggle burger" onclick="insite.nav.activatePanel()"
              title="Menu">☰</label>
            <div class="cart-button">
              <a id="tst_cartLink" class="cart-link" href="/Cart" target="_self"><span
                  ng-bind="vm.cart.totalCountDisplay">0</span></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>