.bg-blue-brand {
    background-color: #005eb8;
}
.bg-blue-brand:hover {
    color: #000;
    background-color: #fff;
}
.pointer {
    border-bottom: solid 10px #fff;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    right: 20px;
}
.panelwrap {
    z-index: 3 !important;
}
.container {
    display: flex;
}
.categories-te {
    background: #005eb8;
}
.categories-te .container {
    background: #005eb8;
}
nav.categories-te {
    display: flex;
}
nav.categories-te .container {
    background: unset;
    font-family: "Lato", sans-serif !important;
    max-width: 1040px;
}
.categories-te ul:not(.side-nav) {
    position: unset !important;
}
.categories-te .hoverable > a:after {
    content: unset;
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}
nav.categories-te ul:not(.side-nav) li a {
    color: #fff;
    line-height: 3rem;
    padding: 0 2rem;
    /*height: 100%;*/
    font-family: "Lato", sans-serif !important;
}

nav.categories-te ul:not(.side-nav) li i {
    position: relative;
    left: unset;
    display: inline;
    height: auto;
    padding: 0 20px;
}
nav.categories-te ul li .search-container .search-button {
    width: auto;
}
nav.categories-te ul li .search-container .search-button button {
    padding: 0;
}
nav.categories-te ul:not(.side-nav) li a:hover {
    color: #000;
    background: #fff;
}
nav.categories-te ul:not(.side-nav) li a svg {
    fill: #fff;
}
nav.categories-te .categories-te-menu ul:not(.side-nav) li a svg {
    fill: #374151;
}
nav.categories-te ul:not(.side-nav) li a:hover svg {
    fill: #374151;
}
nav.categories-te .nav-categories-content ul:not(.side-nav) li a:hover svg {
    fill: transparent;
}
nav.categories-te .search-container .btn {
    padding-top: 0;
    height: 50px;
}
/*nav.categories-te .categories-te-menu ul:not(.side-nav) li a:hover  {
    background: #f3f4f6;
  }*/
nav.categories-te .categories-te-menu ul {
    margin-left: 0;
}
nav.categories-te ul:not(.side-nav) li .categories-content {
    background: #f3f4f6;
}
nav.categories-te ul:not(.side-nav) li .categories-content a {
    color: #374151;
    font-weight: 400;
    text-transform: none;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    line-height: 1.3;
    font-family: "Lato", sans-serif !important;
    background: #fff;
    padding: 0.5rem;
}
.categories-te ul:not(.side-nav) li {
    position: static !important;
    white-space: normal;
}

.categories-te .container {
    position: unset !important;
}
.categories-te .header-products .isc-primary-nav {
    right: unset;
}
.categories-te .flex {
    display: flex;
}
nav.categories-te .categories-te-menu ul:not(.side-nav) li a {
    color: unset;
    line-height: unset;
    padding: unset;
    height: auto;
}

.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100vw;
    white-space: normal;
    line-height: 25px;
    z-index: 9999;
    box-shadow: 0px 15px 17px -8px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0px 15px 17px -8px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 15px 17px -8px rgba(0, 0, 0, 0.17);
}
/* #hoverable Class Styles */
.hoverable {
    position: static;
}

.hoverable > a:after {
    content: "\f107";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    display: block;
}

/* #toggle Class Styles */

.toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.toggle-input {
    display: none;
}
.toggle-input:not(checked) ~ .mega-menu {
    display: none;
}

.toggle-input:checked ~ .mega-menu {
    display: block;
}

.toggle-input:checked + label {
    color: white;
    background: rgb(3, 102, 114); /*@apply bg-teal-700 */
}

.toggle-input:checked ~ label:after {
    content: "";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
nav.categories-te .categories-te-menu ul:not(.side-nav) li a .graybox {
    display: none;
}
nav.categories-te .categories-te-menu ul:not(.side-nav) li a:hover .graybox {
    display: inline-block;
    padding: 0;
    background-color: #f3f4f6;
    -webkit-transform: translate(1.5rem, -50%);
    -ms-transform: translate(1.5rem, -50%);
    transform: translate(1.5rem, -50%);
}

nav.categories-te .categories-te-menu ul:not(.side-nav) li a .grayboxI {
    display: inline-block;
    padding: 0;
    background-color: #f3f4f6;
    -webkit-transform: translate(1.5rem, -50%);
    -ms-transform: translate(1.5rem, -50%);
    transform: translate(1.5rem, -50%);
}

.grayboxI:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 15px solid #f3f4f6;
    top: 0;
    right: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.graybox:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 15px solid #f3f4f6;
    top: 0;
    right: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
    .menu-te {
        display: none;
    }
}
@media (min-width: 768px) {
    .isc-primary-nav > ul > li > span > a,
    .isc-primary-nav .prevent-li-below-window,
    .isc-primary-nav li a,
    div.cart-button a.cart-link span,
    div.cart-button a.cart-link::before {
        color: unset !important;
    }
    nav.categories-te ul li .search-container .search-button {
        position: relative;
    }
    nav.categories-te ul:not(.side-nav) li a span {
        color: #374151;
        font-weight: 400;
        text-transform: none;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    nav.categories-te ul:not(.side-nav) li a:hover span {
        color: #000;
    }
    nav.categories-te .categories-te-menu ul:not(.side-nav) {
        float: left;
    }
}

@media (min-width: 48em) {
    .categories-te .container,
    .isc-primary-nav,
    .isc-primary-nav .subnav {
        -webkit-transform: unset !important;
        -ms-transform: unset !important;
        transform: unset !important;
    }
}
